#page{
    position: static;
    width: 1000px;
    height: 700px;
    border: 2px solid #2E8B57;
    margin: 35px;
    background-color: #98FB98;
}

#deck{
    display: inline-block;
    height: 125px;
    width: 90px;
    position: relative;
    /*border: 2px solid #2E8B57;*/
    background-image: url("../images/shirt.jpg");
    background-size: 90px 125px;
    background-repeat: no-repeat;
    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 10px;
}

#deckCards{
    display: inline-block;
    height: 125px;
    width: 90px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

#resultCards{
    display: inline-block;
    position: static;
    margin-right: 40px;
    float: right;
}

.cardSpace{
    display: inline-block;
    height: 125px;
    width: 90px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
    border: 2px solid #2E8B57;
}

.closedCards{
    display: inline-block;
    background-image: url("../images/shirt.jpg");
}

.card{
    position: absolute;
    height: 125px;
    width: 90px;
    background-size: 90px 125px;
    background-repeat: no-repeat;
}

#solitaire{
    display:inline-block;
    margin-right: 35px;
    float: right;
}

body{
    background-color: #F0F8FF;
}